/* START - Utility classes */
.list-reset {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-horizontal li {
    display: inline-block;
}

.text-center {
    text-align: center;
}

.bkg-green {
    background-color: #c9d4be !important;
}

.text-decoration-none a {
    text-decoration: none;
}

.color-black {
    color: #000000;
}
/* END - Utility classes */

/* START - main menu e main nav */
.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, .5);
}

.main-nav {
    display: none;
    order: 99;
    flex: 100%;
}

.open-menu .main-nav {
    display: block;
}

.open-menu .main-menu .main-nav ul {
    text-align: center;
    background-color: #e3e3e3;
    text-align: center;
}

.main-nav ul li:not(:last-child) {
    margin: 0 0 1em 0;
}

.main-nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.main-nav ul li a:hover {
    color: rgb(133, 40, 22);
}
/* END - main menu e main nav */

/* START - Site logo */
.btn-wrapper,
.logo-wrapper {
    flex: 50%;
}

.btn-wrapper {
    text-align: right;
}
.logo {
    max-width: 4em;
}

/* .logo-wrapper{
    width: 50%;
} */
/* END - Site logo */

/* START - btn */
.hamburger-button {
    display: inline-block;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
/*  Trovare un modo per altezza 100%
    height: 100%; */
}

.hamburger-button-bar {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.open-menu .hamburger-button > *:nth-child(1) {
    transform: rotate(-45deg) translate(-.45em, .45em);
}

.open-menu .hamburger-button > *:nth-child(2) {
    opacity: 0;
}

.open-menu .hamburger-button > *:nth-child(3) {
    transform: rotate(45deg) translate(-.45em, -.45em);
}

/* END - btn */
.hero {
    position: relative;
    height: 85vh; /*
        75% dell'altezza della viewport
        viewport significa dal pixel sinistro più alto a al pixel destro più basso
            della nostra pagina web, senza contare l'interfaccia del browser
    */


    background-color: #000;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
}

.hero-image {
    opacity: .5;
}

.image-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.grid,
[class*="grid"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.main-section {
    padding: 4em 0;
    background-color: transparent;
}

.container-carousel {
    position: relative;
    margin: auto;
    width: 50%;
    height: 80%;
}

/* .container-carousel img {
    transition: transform .3s ease-in-out;
} */

.container-carousel:hover img {
    transform: scale(1.5);
}

.image-carousel {
    display: none;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.slider-button {
    border: none;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 0.5em 1em;
    color: #fff !important;
    background-color: #000 !important;
}
.slider-button:hover {
    background-color: rgb(103, 103, 103) !important;
}

.slider-button-right{
    position:absolute;
    top:50%;
    right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%)
}

.slider-button-left {
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}

.card-box {
    display: inline-block;
    box-shadow: 0 .25em .5em 0 rgba(0, 0, 0, .2);
    transition: .3s;
}

.card-box:hover {
    box-shadow: 0 .5em 1em 0 rgba(0, 0, 0, .2);
}

.container {
    padding: .25em 1em;
    /* background-color: #ffffff; */
}

.avatar {
    position: relative;
    display: block;
    width: 100%;
    height: 15em;
    overflow: hidden;
    object-fit: cover;
}

/* .main-section-card-grid {
    
} */

.main-section-card-grid .card-box {
    margin: 1em;
    -webkit-box-flex: 0;
        -ms-flex: 0 100%;
            flex: 0 100%;
}

.main-section-header {
    padding-bottom: 2em;
}

.main-section-header h3 {
    font-size: 2rem;
    margin-bottom: .5em;
}

[class*="card-box"] {
    background-color: #fff;
}


.site-footer {
    padding-top: 6em;
    padding-bottom: 6em;
    background-color: #fff;
    color: white;
    position: relative;
}

.site-footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.site-logo-img {
    display: block;
    max-width: 3.25em;
}

.site-footer-content > *:not(:last-child) {
    margin: 0 0 1em;
}

.site-footer-content ul li:nth-child(n+2)  {
    position: relative;
    margin-left: 2em;
}

.site-footer-content ul li:nth-child(n+2)::before {
    content: '•';
    position: absolute;
    top: 0;
    left: -1.5em;
    bottom: 1em;
    margin: auto;
    display: inline-block;
    height: 5px;
    color: #000;
}

.site-footer-content ul li {
    margin-top: 1.5em;
}

.site-footer-content ul li:hover {
    color: rgb(133, 40, 22);
}
/* [class|="col"] {

} */


/* START - responsive */
@media screen and (min-width: 960px) {
    .main-menu {
        /*
        top 0 per posizionarsi in alto
        width 100 per dirgli di occupare tutto lo spazio, in position fixed occuperebbe tutto lo spazio dei contenuti
        */
        position: fixed;
        z-index: 99;
        top: 0;
        width: 100%;
    }

    .main-nav {
        display: block;
        flex: 50%;
        text-align: right;
    }

    .main-nav ul li {
        display: inline-block;
    }

    .main-nav ul li:not(:last-child) {
        margin: 0 1em 0 0;
    }

    /* .logo-wrapper{
        width: auto;
        background-color: transparent;
    } */

    /* START - btn */
    /* Questo non serve se lo faccio già sul div
    .btn-open-menu {
        display: none;
    } */

    /* Questo è un div in realtà */
    .hamburger-button {
        display: none;

    }

    .btn-wrapper {
        flex: none;
    }
    /* END - btn */

    .main-section-card-grid .card-box-large,
    .main-section-card-grid .card-box-small {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc((100%/12)*4 - 2em);
                flex: 0 0 calc((100%/12)*4 - 2em);
    }
}
/* END - responsive */